{:database-url ~(or (System/getenv "DATABASE_URL") "jdbc:postgresql://localhost:5432/orders_db")
 :kafka {:brokers ~[(or (System/getenv "KAFKA_BROKERS") "localhost:9092")]}
 :http {:port ~(Long/parseLong (or (System/getenv "HTTP_PORT") "8081"))}}
